@charset "UTF-8";
/* CSS Document */

.demo-headline{
    padding-top: 50px;
    padding-left: 100px;
    padding-right:100px; 
}
.demo-content{
	margin-top:10px;
  margin-bottom: 10px;
	}
.row{
  margin-top:50px;
  padding-left: 100px;
  padding-right:100px; 
  padding-bottom: 30px;
  float:left;
  width:100%;
  }

.col-xsm{width:30%;}
.col-sm{width:60%;}
/*Global setting*/
/*button row*/
.demo-content>.btn-sec{
  display: block !important;
  width:100%;
  padding-top: 2rem;
}
/*colors layout*/
.pallete-item {
  float: left;
  width: 140px;
  margin: 0 0 20px 18px;
  }
.palette {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  line-height: 1.214;
  color: #fff;
  text-transform: uppercase;
  }
.palette dt,
.palette dd {
  line-height: 1.429;
  }
.palette dt {
  display: block;
  font-weight: bold;
  opacity: .8;
  }
.palette dd {
  margin-left: 0;
  font-weight: 300;
  opacity: .8;
  -webkit-font-smoothing: subpixel-antialiased;
  }

/*colors description*/
.pallete-item .des-color{
    width:140px;
    padding:10px 0px 10px 0px;
    font-size: 14px;
  }
/*Responsive*/
@media only screen and (max-width: 767px) {
  .row{padding:10px;}
  .demo-headline{padding:10px;}
}
