<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Bypass Live style guide</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version."/>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="semantic/dist/js/semantic.js"></script>
    <script src="js/jquery-ui.js"></script>

    <link rel="shortcut icon" type="image/ico" href="favicon32.png">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="demo_layout.css">
    <link rel="stylesheet" type="text/css" href="customized.css">
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/example.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>

  </head>
  <body>
<div class="container">
      <div class="demo-headline">
          <h2>LIVE UI KIT </h2>
          <small>LIVE STYLE GUIDE FOR ADMIN</small>
          <div class="ui tabular menu">
              <a href="index.html" class="item">Basic elements</a>
              <a href="setting.html" class="item">Global Setting</a>
              <a href="#" class="active item">Tables</a>
              <a href="form.html" class="item">Forms</a>
              <a href="modal.html" class="item">Modals</a>
              <a href="pages.html" class="item">Pages</a>
              <a href="examples.html" class="item">Index example page</a>
              <a href="futureform.html" class="item">Form example page</a>
           </div>
          <h1>Collections</h1>
      </div> <!-- /demo-headline -->



      <div class="row">
       <h3>Table with data (sortable)</h3>
         <div class="ui ignored navy message col-m">
            <b>Mobile site</b>
            <p>It's not an action that we encourage users to do on mobile, so on mobile view, we need bigger filter input box, but sort design should keep simple.<p>
          </div>
         <div class="content">
         <table class="ui sortable striped table">
          <thead>
            <tr>
              <th class="sorted descending">Name</th>
              <th>Date Joined</th>
              <th>E-mail</th>
              <th>Called</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>Jamie Harington</a></td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>Jill Lewis</a></td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>Jamie Harington</a></td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>Jill Lewis</a></td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>

        <div class="pagi-line">
            <span class="pageinfo">
            showing
                  <strong>21-41</strong>
                  of
                  <strong>722</strong>
                  records| show
                  <select>
                  <option value="0" selected="selected" label="10">10</option>
                  <option value="1" label="10">20</option>
                  <option value="2" label="50">10</option>
                  </select>
                  entires
            </span>
            <div class="ui pagination menu">
                <div ng-controller="PaginationDemoCtrl" >
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true">
                    <nav>
                    <!--pagination need to be fixed with AngularJs-->
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                          </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    </pagination>
                </div>
            </div><!--ui-->
        </div><!--pagi-line-->
        </div><!--content ends-->
      </div><!--row ends-->


       <div class="row">
       <h3>Table with multi-columns & label & actions</h3>
         <div class="content">
         <table class="ui sortable striped table">
           <thead>
            <tr>
              <th class="sorted descending">ID</th>
              <th>Status</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Date Sent</th>
              <th>Date Received</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>100020</a></td>
              <td>
                <div class="ui green labels">
                  <a class="ui label">
                    CLOSED
                  </a>
                </div>
              </td>
              <td>Arkansas Travelers, Arkansas Travelers02, Arkansas Travelers 03</td>
              <td>Demo Booth</td>
              <td>June 10, 2015</td>
              <td>June 10, 2015</td>
            </tr>
            <tr>
              <td><a>100021</a></td>
              <td>
                <div class="ui green labels">
                  <a class="ui label">
                    CLOSED
                  </a>
                </div>
              </td>
              <td>Arkansas Travelers</td>
              <td>Demo Booth</td>
              <td>June 10, 2015</td>
              <td>June 10, 2015</td>
            </tr>
            <tr>
              <td><a>100025</a></td>
              <td>
                <div class="ui red labels">
                  <a class="ui label">
                    ERROR
                  </a>
                </div>
              </td>
              <td>Bypassmobile, Bypassmobile 02, Arkansas Travelers, Arkansas Travelers03, </td>
              <td>Demo Booth</td>
              <td>June 11, 2015</td>
              <td>June 11, 2015</td>
            </tr>
            <tr>
              <td><a>100027</a></td>
              <td>
                <div class="ui green labels">
                  <a class="ui label">
                    CLOSED
                  </a>
                </div>
              </td>
              <td>Others</td>
              <td>Earth</td>
              <td>June 12, 2015</td>
              <td>June 12, 2015</td>
            </tr>
            <tr>
              <td><a>100096</a></td>
              <td>
                <div class="ui yellow labels">
                  <a class="ui label">
                    OPEN
                  </a>
                </div>
              </td>
              <td>Arkansas Travelers</td>
              <td>Kitchen</td>
              <td>June 12, 2015</td>
              <td>June 15, 2015</td>
            </tr>
            <tr>
              <td><a>100360</a></td>
              <td>
                <div class="ui green labels">
                  <a class="ui label">
                    CLOSED
                  </a>
                </div>
              </td>
              <td>Arkansas Travelers</td>
              <td>Demo Booth</td>
              <td>June 16, 2015</td>
              <td>June 16, 2015</td>
            </tr>
          </tbody>
        </table>

        <div class="pagi-line">
            <span class="pageinfo">
            showing
                  <strong>21-41</strong>
                  of
                  <strong>722</strong>
                  records| show
                  <select>
                  <option value="0" selected="selected" label="10">10</option>
                  <option value="1" label="10">20</option>
                  <option value="2" label="50">10</option>
                  </select>
                  entires
            </span>
            <div class="ui pagination menu">
                <div ng-controller="PaginationDemoCtrl" >
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true">
                    <nav>
                    <!--pagination need to be fixed with AngularJs-->
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                          </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    </pagination>
                </div>
            </div><!--ui-->
        </div><!--pagi-line-->
        </div><!--content ends-->
      </div><!--row ends-->


      <div class="row">
       <h3>Table with buttons & filter</h3>
         <div class="content">
         <div class="btn-sec btn-right">
            <div class="actions">
                  <div class="ui green labeled icon button btn-right">
                  <i class="plus left icon"></i>Create new</div>
            </div>
            <button class="ui primary button btn-right">
                Action
            </button>
         </div>

         <table class="ui sortable striped table">
          <thead>
            <tr>
              <th class="sorted descending">Name</th>
              <th>Date Joined</th>
              <th>E-mail</th>
              <th>Called</th>
            </tr>
              <tr>
              <th class="no-sort">
              <div class="ui input filter">
                <input id="filter" type="text" placeholder="Name">
              </div>
              </th>
              <th class="no-sort">
              <div class="ui input filter">
                <div class="ui icon input date-picker"><input type="text" placeholder="Date" class="datepicker">
          </div>
              </div>
              </th>
              <th class="no-sort">
              <div class="ui input filter">
                <input id="filter" type="text" placeholder="Email">
              </div>
              </th>
              <th><a href="#">Clear Filter</a></th>
            </tr>
          </thead>
          <tbody class="searchable">
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>Jamie Harington</a></td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>Jill Lewis</a></td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td><a>Jamie Harington</a></td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>Jill Lewis</a></td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><a>John Lilki</a></td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
        <div class="pagi-line">
            <span class="pageinfo">
            showing
                  <strong>21-41</strong>
                  of
                  <strong>722</strong>
                  records| show
                  <select>
                  <option value="0" selected="selected" label="10">10</option>
                  <option value="1" label="10">20</option>
                  <option value="2" label="50">10</option>
                  </select>
                  entires
            </span>
            <div class="ui pagination menu">
                <div ng-controller="PaginationDemoCtrl" >
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true">
                    <nav>
                    <!--pagination need to be fixed with AngularJs-->
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                          </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    </pagination>
                </div>
            </div><!--ui-->
            </div>
        </div><!--content ends-->
      </div><!--row ends-->

       <div class="row">
       <h3>Table with checkboxes (bulkaction)</h3>
         <div class="content">
          <div class="btn-sec btn-right">
            <div class="ui teal buttons actions">

              <div class="ui primary right labeled icon button simple dropdown" tabindex="0">
                Actions
                <i class="dropdown right icon"></i>
                <div class="menu">
                  <div class="item">Edit</div>
                  <div class="item">Remove</div>
                  <div class="item">Hide</div>
                </div><!--menu-->
              </div>
            </div><!--ui teal buttons ends-->

             <div class="ui green labeled icon button btn-right">
                <i class="plus left icon"></i>Create new
             </div>

          </div><!--btn-sec ends-->
         <table class="ui sortable striped table">
          <thead>
            <tr>
              <th class="sorted descending">
                  <div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label>Name</label>
                  </div>
              </th>
              <th>Date Joined</th>
              <th>E-mail</th>
              <th>Called</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              <div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>John Lilki</a></label>
              </div>
              </td>
              <td>September 14, 2013</td>
              <td>jhlilk22@yahoo.com</td>
              <td>No</td>
            </tr>
            <tr>
              <td>
              <div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>Jamie Harington</a></label>
              </div>
              </td>
              <td>January 11, 2014</td>
              <td>jamieharingonton@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>Jill Lewis</a></label>
              </div>
              </td>
              <td>May 11, 2014</td>
              <td>jilsewris22@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>Lara</a></label>
              </div>
              </td>
              <td>May 12, 2014</td>
              <td>lara294@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td><div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>David</a></label>
              </div>
              </td>
              <td>Jul 11, 2014</td>
              <td>david23@yahoo.com</td>
              <td>Yes</td>
            </tr>
            <tr>
            <td><div class="ui checkbox">
                  <input type="checkbox" name="example">
                  <label><a>Sherry</a></label>
              </div>
              </td>
              <td>Aug 11, 2014</td>
              <td>sherry21@yahoo.com</td>
              <td>Yes</td>
            </tr>

          </tbody>
        </table>

        <div class="pagi-line">
            <span class="pageinfo">
            showing
                  <strong>21-41</strong>
                  of
                  <strong>722</strong>
                  records| show
                  <select>
                  <option value="0" selected="selected" label="10">10</option>
                  <option value="1" label="10">20</option>
                  <option value="2" label="50">10</option>
                  </select>
                  entires
            </span>
            <div class="ui pagination menu">
                <div ng-controller="PaginationDemoCtrl" >
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true">
                    <nav>
                    <!--pagination need to be fixed with AngularJs-->
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                          </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                          <a href="#" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    </pagination>
                </div>
            </div><!--ui-->
        </div><!--pagi-line-->
        </div><!--content ends-->
      </div><!--row ends-->
</div><!-- /container -->


<!--customized js-->
<script src="js/customize.js"></script>

<!--sortable table-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/jquery.tablesort.min.js"></script>
<script type="text/javascript">
    $(function() {

      var table = $('<table class="ex-2"></table>');
      table.append('<thead><tr><th class="number">Number</th></tr></thead>');
      var tbody = $('<tbody></tbody>');

      for(var i = 0; i<6000; i++) {
        tbody.append('<tr><td>' + Math.floor(Math.random() * 100) + '</td></tr>');
      }
      table.append(tbody);
      $('.example.ex-2').append(table);

      $('table').tablesort().data('tablesort');

      $('thead th.number').data('sortBy', function(th, td, sorter) {
        return parseInt(td.text(), 10);
      });

      });
</script>

<!--filterable table-->
<script>
$(document).ready(function () {

(function ($) {

    $('#filter').keyup(function () {

        var rex = new RegExp($(this).val(), 'i');
        $('.searchable tr').hide();
        $('.searchable tr').filter(function () {
            return rex.test($(this).text());
        }).show();

    })

}(jQuery));

});
</script>
</body>
</html>
